{% extends "base.html" %}
{% load static %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Write a review {% endblock title %}

{% block content %}
<h1 class="text-4xl text-center font-extrabold underline mt-12 mb-8"> Write a review</h1>
<!--Centers it-->
<div class="w-fit mx-auto my-8">
    <!--Review form-->
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit Review" class="rounded-lg bg-cyan-400 p-2 my-4 text-black">
    </form>
</div>
{% endblock content %}