{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load allauth %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Email {% endblock title %}

{% block content %}

<div class="max-w-md mx-auto">
    <div class="mx-2">
        <h1 class="text-4xl text-center font-extrabold underline mt-16 mb-8"> Email Adress</h1>
        {% if emailaddresses %}
        {% if current_emailaddress %}
        <p>
            {% trans 'The following email address is associated with your account:' %} <a
                href="mailto:{{ current_emailaddress.email }}">{{ current_emailaddress.email }}</a>
        </p>
        {% endif %}

        {% else %}
        {% include "account/snippets/warn_no_email.html" %}
        {% endif %}
        {% if new_emailaddress %}
        <p>
            {% trans 'Your email address is still pending verification:' %} <a
                href="mailto:{{ new_emailaddress.email }}">
                {{new_emailaddress.email }}</a>
        </p>
        <form method="post" action="{% url 'account_email' %}" class="account_fields">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
            <button type="submit" name="action_send"
                class="rounded-lg bg-cyan-400 p-1 my-2 block justify-self-end w-fit text-black">
                Re-send Verification
            </button>
        </form>
        {% endif %}
        <h2 class="text-lg mt-8">{% trans "Change Email Address" %}</h2>
        <form method="post" action="{% url 'account_email' %}" class="account_fields">
            {% csrf_token %}
            {{ form.as_p }}
            <button name="action_add" type="submit"
                class="rounded-lg bg-cyan-400 p-1 my-2 block justify-self-end w-fit text-black">
                Change Email
            </button>
        </form>
    </div>
</div>
{% include "account/account_menu.html" %}
{% endblock content %}