{% extends "base.html" %}
{% load static %}

{% load allauth i18n %}
<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Sign Out {% endblock title %}

{% block content %}
<div class="max-w-md mx-auto">
    <h1 class="text-4xl text-center font-extrabold underline mt-16 mb-8"> Are you sure you want to sign out?</h1>
    <form class="signup account_fields" id="signup_form" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}
        <button class="rounded-lg bg-cyan-400 p-2 my-8 mx-auto block justify-self-end w-fit text-xl text-black"
            type="submit">{% trans "Sign Out" %}
        </button>
</div>
{% endblock content %}