{% extends "base.html" %}
{% load static %}

{% load allauth i18n %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Change Password {% endblock title %}

{% block content %}
<div class="max-w-md mx-auto">
    <div class="max-w-md mx-2">
        <h1 class="text-4xl text-center font-extrabold underline mt-16 mb-8"> Change Password</h1>
        <form class="signup account_fields" method="post" action="{% url 'account_change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="rounded-lg bg-cyan-400 p-2 my-8 mx-auto block justify-self-end w-fit text-xl text-black"
                type="submit">Change Password</button>
        </form>
    </div>
</div>
{% include "account/account_menu.html" %}
{% endblock content %}