{% extends "base_employee.html" %}
{% load static %}

{% block title %} Cancel Order {% endblock title %}

{% block content %}
<div class="w-fit mx-auto my-8">
    <h1 class="text-xl font-bold my-4">Do you really want to cancel order number {{order.order_number}}?</h1>

    <form class="my-8" method="post">
        {% csrf_token %}
        {{form}}
        <input class="rounded-lg bg-red-500 text-white p-2 my-4 mx-auto w-fit text-xl block cursor-pointer" type="submit"
            value="Cancel">
    </form>

    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} text-center" {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    <div>
        <a class="rounded-lg bg-cyan-400 p-2 my-16 mx-auto block justify-self-end w-fit text-xl text-black"
            href="{% url 'employee_orders' %}"> Back </a>
    </div>

</div>
{% endblock content %}