{% extends "base_employee.html" %}
{% load static %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Reviews {% endblock title %}

{% block content %}
<section>
    <h1 class="text-center font-bold underline text-2xl mt-2 text-black dark:text-white">Orders</h1>

    <h2 class="text-xl m-4">Quick navigation</h2>
    <ul>
        <li class="mx-8 w-fit hover:mx-10 transition-all ease-in-out"><a href="#not-started">Not started</a></li>
        <li class="mx-8 w-fit hover:mx-10 transition-all ease-in-out"><a href="#in-progress">In progress</a></li>
        <li class="mx-8 w-fit hover:mx-10 transition-all ease-in-out"><a href="#finished">Finished</a></li>
    </ul>
</section>


<section>
    <h2 id="not-started" class="text-xl m-4">Not started</h2>
    <!--on medium devices and above the container will be a grid. On small devices it will display beneath each other.
    On medium devices there will be 2 columns and 3 rows, on large devices 3 columns and 2 rows.-->
    <div class="md:flex md:flex-wrap sm:block">
        {% for order in unfinished_orders %}
        <div class="lg:w-1/3 md:w-1/2">
            <div class="rounded-lg bg-slate-300 dark:bg-gray-900 m-4">
                <!--The text will fade when it gets too long to make some contrast between text and View order button-->
                <div
                    class="overflow-clip h-44 ease-in-out p-5 bg-gradient-to-t from-gray-300 to-slate-900 dark:from-gray-900 dark:to-slate-300 from-20% to-40% bg-clip-text text-transparent">
                    <h2 class="text-3xl font-bold">{{order.order_number}}</h1>
                        <h3 class="text-xl">{{order.delivery_method}}
                    </h2>
                    <p>{{order.order}}</p>
                </div>
                <div class="grid grid-cols-2 mx-4">
                    <p class="bg-red-500 rounded-full text-white w-fit p-2 self-start">Not started</p>
                    <p class="self-end text-right opacity-50">{{order.date}}</p>
                </div>
                <a href="{% url 'employee_order_detail' order.order_number %}"
                    class="relative bottom-0 left-0 right-0 block w-full text-center pb-4 text-black dark:text-white hover:scale-110 transition-all cursor-pointer">
                    View order</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2 id="in-progress" class="text-xl m-4">In progress</h2>
    <!--on medium devices and above the container will be a grid. On small devices it will display beneath each other.
    On medium devices there will be 2 columns and 3 rows, on large devices 3 columns and 2 rows.-->
    <div class="md:flex md:flex-wrap sm:block">
        {% for order in in_progress_orders %}
        <div class="lg:w-1/3 md:w-1/2">
            <div class="rounded-lg bg-slate-300 dark:bg-gray-900 m-4">
                <!--The text will fade when it gets too long to make some contrast between text and View order button-->
                <div
                    class="overflow-clip h-44 ease-in-out p-5 bg-gradient-to-t from-gray-300 to-slate-900 dark:from-gray-900 dark:to-slate-300 from-20% to-40% bg-clip-text text-transparent">
                    <h2 class="text-3xl font-bold">{{order.order_number}}</h1>
                        <h3 class="text-xl">{{order.delivery_method}}
                    </h2>
                    <p>{{order.order}}</p>
                </div>
                <div class="grid grid-cols-2 mx-4">
                    <p class="bg-orange-600 rounded-full text-white w-fit p-2 self-start">In progress</p>
                    <p class="self-end text-right opacity-50">{{order.date}}</p>
                </div>
                <a href="{% url 'employee_order_detail' order.order_number %}"
                    class="relative bottom-0 left-0 right-0 block w-full text-center pb-4 text-black dark:text-white hover:scale-110 transition-all cursor-pointer">
                    View order</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section>
    <h2 id="finished" class="text-xl m-4">Finished</h2>
    <!--on medium devices and above the container will be a grid. On small devices it will display beneath each other.
    On medium devices there will be 2 columns and 3 rows, on large devices 3 columns and 2 rows.-->
    <div class="md:flex md:flex-wrap sm:block">
        {% for order in finished_orders %}
        <div class="lg:w-1/3 md:w-1/2">
            <div class="rounded-lg bg-slate-300 dark:bg-gray-900 m-4">
                <!--The text will fade when it gets too long to make some contrast between text and View order button-->
                <div
                    class="overflow-clip h-44 ease-in-out p-5 bg-gradient-to-t from-gray-300 to-slate-900 dark:from-gray-900 dark:to-slate-300 from-20% to-40% bg-clip-text text-transparent">
                    <h2 class="text-3xl font-bold">{{order.order_number}}</h1>
                        <h3 class="text-xl">{{order.delivery_method}}
                    </h2>
                    <p>{{order.order}}</p>
                </div>
                <div class="grid grid-cols-2 mx-4">
                    <p class="bg-green-700 rounded-full text-white w-fit p-2 self-start">Finished</p>
                    <p class="self-end text-right opacity-50">{{order.date}}</p>
                </div>
                <a href="{% url 'employee_order_detail' order.order_number %}"
                    class="relative bottom-0 left-0 right-0 block w-full text-center pb-4 text-black dark:text-white hover:scale-110 transition-all cursor-pointer">
                    View order</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% endblock content %}