{% extends "base_employee.html" %}
{% load static %}

{% block title %} Answer contact form {% endblock title %}

{% block content %}
<div class="w-full flex items-center mt-16 flex-col">
    <div class="rounded-lg bg-white border-solid border-black border-2 dark:bg-gray-900 w-11/12 md:w-4/5 md:p-8 p-4">
        <h2 class="text-3xl font-bold">From: {{contact_form.name}}</h2>
        <a class="text-lg block" href="mailto:{{contact_form.email}}">Email: {{contact_form.email}}</a>
        <a class="text-lg block" href="tel:{{contact_form.phone_number}}">Phone: {{contact_form.phone_number}}</a>
        <p class="text-lg block">Preferred contact method: {{contact_form.preferred_contact}}</p>
        <br>
        <p class="whitespace-pre">{{contact_form.message}}</p>
        <br>
        <p class="opacity-50 mt-4">sent on: {{contact_form.date}}</p>
        <div class="mt-4">
            {% if contact_form.answered == True %}
            <p class="bg-green-700 rounded-full text-white w-fit p-2 self-start">Answered</p>
            {% else %}
            <p class="bg-red-500 rounded-full text-white w-fit p-2 self-start">Not Answered</p>
            {% endif %}

        </div>
    </div>
    {% if contact_form.answered == False %}
    <div class="rounded-lg bg-white border-solid border-black border-2 dark:bg-gray-900 w-11/12 md:w-4/5 md:p-8 p-4 mt-8">
        <h2 class="text-xl font-bold mb-4">Give a response:</h2>
        {% if contact_form.preferred_contact == "PHONE" %}
        <p class="mb-4">NOTE: This customer prefers phone contact. Try to call them before you answer here. Once you've done that please write a summary here instead.</p>
        {% endif %}
        <form method="post"> 
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit Response" class="rounded-lg bg-cyan-400 p-2 my-4 text-black">
        </form>

        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class=" {{ message.tags }} text-green-700 dark:text-green-400" {% endif %}> 
                {{ message }} </li>
            {% endfor %}
        </ul>
    </div>

    {% else %}

    <div class="rounded-lg bg-white border-solid border-black border-2 dark:bg-gray-900 w-11/12 md:w-4/5 md:p-8 p-4 mt-8">
        <h2 class="text-3xl font-bold">Response by {{contact_form.employee}}</h2>
        <br>
        <p class="whitespace-pre">{{contact_form.employee_response}}</p>
        <br>

        {% endif %}
    </div>
    <div>
        <a class="rounded-lg bg-white border-solid border-black border-2 dark:bg-gray-900 p-2 mx-auto my-8 w-fit text-xl block"
            href="{% url 'employee_contact_forms' %}"> Back </a>
    </div>
</div>

{% endblock content %}