{% extends "base_employee.html" %}
{% load static %}

{% block title %} Cancel Order {% endblock title %}

{% block content %}
<!--Centers the content-->
<div class="mx-auto w-fit">
    <h1 class="text-xl font-bold my-4 text-center">
        {% if order.order_number == None %}
        <!--If the order doesn't exist-->
        Order has been deleted
        {% else %}
        <!--If the order exists-->
        Do you really want to delete order number {{order.order_number}}?
        {% endif %}
    </h1>
    <div class="m-8">
        <p>By checking the box below you confirm that you:</p>
        <ul class="list-disc ml-8">
            <li>Want to delete the order</li>
            <li>Acknowledge that this cannot be undone</li>
        </ul>
    </div>
    <!--The employee has to check this box to confirm order deletion-->
    <form class="my-8 mx-auto block w-fit" method="post">
        {% csrf_token %}
        {{form}}
        <input class="rounded-lg bg-red-500 text-white p-2 my-4 w-fit text-xl block cursor-pointer mx-auto" type="submit"
            value="Delete">
    </form>
    <!--Messages-->
    <ul class="messages text-center">
        {% for message in messages %}
        <li {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    <!--Back button-->
    <div>
        <a class="rounded-lg bg-cyan-400 text-black p-2 m-4 mt-40 w-fit text-xl block mx-auto"
            href="{% url 'employee_orders' %}"> Back </a>
    </div>
</div>
{% endblock content %}