{% extends "base.html" %}
{% load static %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Home {% endblock title %}

<!--The content-->
{% block content %}
    <!-- This will be an image later-->
    <div class="h-32 bg-orange-500"></div>
    <!--Logo will be placed inside later-->
    <div class="border-8 border-slate-50 dark:border-gray-950 rounded-full h-32 w-32 bg-orange-500 relative bottom-16 m-auto">
        <p class="text-center">logo</p>
    </div>
    <h1 class="text-center font-bold underline text-2xl align-text-top">The Harbor Hearth</h1>
    <h2 class="text-center">Set sail for deliciousness</h2>
{% endblock content %}