{% extends "base.html" %}
{% load static %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Home {% endblock title %}

<!--The content-->
{% block content %}
    <!-- This will be an image later-->
    <div class="h-32 bg-orange-500"></div>
    <div class="justify-center flex">
        <!--Logo will be placed inside later-->
        <div class="border-8 border-slate-50 dark:border-gray-950 rounded-full -translate-y-1/2 h-32 w-32 bg-orange-500">
            <p class="text-center">logo</p>
        </div>
    </div>
{% endblock content %}