<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <h1>Menu</h1>
    {% for menu in object_list %}
    <h3>{{menu.name}} | {{menu.price}}£</h3>
    <ul>
        <li>{{menu.description}}</li>
        <li>{{menu.ingridients}}</li>
        <li>Vegan: {{menu.vegan}}</li>
        <li>Nuts: {{menu.nuts}}</li>
        <li>Lactose: {{menu.lactose}}</li>
        <li>Gluten: {{menu.gluten}}</li>
        <li>Eggs: {{menu.eggs}}</li>
    </ul>
    {% endfor %}
</body>

</html>