{% extends "base.html" %}
{% load static %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} Reviews {% endblock title %}

{% block content %}
<h1 class="text-center font-bold underline text-2xl mt-2 text-black dark:text-white">Blog and news</h1>
<!--on medium devices and above the container will be a grid. On small devices it will display beneath each other.
On medium devices there will be 2 columns and 3 rows, on large devices 3 columns and 2 rows.-->

<div class="md:flex md:flex-wrap sm:block">
    {% for post in post_list %}
    <div class="lg:w-1/3 md:w-1/2">
        <div class="rounded-lg bg-white border-solid border-black border-2 dark:bg-gray-900 m-4">
            <!--The text will fade when it gets too long to make some contrast between text and read more button-->
            <div
                class="overflow-clip h-44 ease-in-out p-5 bg-gradient-to-t from-gray-300 to-slate-900 dark:from-gray-900 dark:to-slate-300 from-20% to-40% bg-clip-text text-transparent">
                <h2 class="font-bold text-xl text-black dark:text-white"> {{post.title}} </h2>
                <!--Allows the post to be displayed as markdown made with summernote-->
                {{post.content|safe}}
            </div>
            <!--Links to the full post-->
            <a href="{% url 'blog_detail' post.url %}"
                class="relative bottom-0 left-0 right-0 block w-full text-center pb-4 text-black dark:text-white hover:scale-110 transition-all cursor-pointer">
                Read more
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<!--Page navigation. Previous and Next buttons. Shows up if there's more than one page/6 posts-->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="grid grid-cols-2">
        <!--If there's a previous page this will show up-->
        {% if page_obj.has_previous %}
        <li class="rounded-lg bg-cyan-400 p-2 mx-4 justify-self-end w-fit"><a
                href="?page={{ page_obj.previous_page_number }}" class="page-link"> <i
                    class="fa-solid fa-arrow-left"></i> PREV </a></li>
        {% endif %}
        <!--If there's a next page this will show up-->
        {% if page_obj.has_next %}
        <li class="rounded-lg bg-cyan-400 p-2 mx-4 w-fit"><a href="?page={{ page_obj.next_page_number }}"
                class="page-link"> NEXT <i class="fa-solid fa-arrow-right"></i></a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock content %}