{% extends "base.html" %}
{% load static %}

{% url 'home' as home_url %}

<!--Displayed at the end of the title. Used to make the title dynamic-->
{% block title %} 404 {% endblock title %}

<!--The content-->
{% block content %}
<div class="flex min-h-full flex-col">
    <h1 class="text-4xl text-center font-extrabold underline mt-16 mb-8">Whoops!</h1>
    <h2 class="text-center">Seems like something went wrong on your end. Don't worry, just try again!</h2>
    <a class="rounded-lg text-black w-fit h-fit p-2 mt-8 bg-cyan-400 text-lg m-auto" href="{% url 'home' %}">Take me back home</a>
    <h2 class="text-center mt-8 opacity-50">Error code: 400 Bad Request</h2>
</div>
{% endblock content %}