{% load static %}

{% url 'home' as home_url %}
{% url 'menu' as menu_url %}
{% url 'review' as reviews_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--The title will depend on what is defined on a page. Example: The Harbor Hearth - Menu-->
    <title>The Harbor Hearth - {% block title %}{% endblock title %}</title>
    <meta name="description" content="Set sail for deliciousness">
    <!--Local Tailwind-->
    <link href="{% static 'tailwindcss/output.css' %}" rel="stylesheet"/>
    <!--Flowbite CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!--Classes used throughout the entire document-->
<body class="text-slate-950 bg-slate-50 dark:bg-gray-950 dark:text-slate-100">
    <!--Border and shadow. In darkmode the border will be black. In light mode it will be the color #0f172a.-->
    <header class="border-b-2 border-solid border-slate-900 dark:border-black py-2 px-3 fixed bg-slate-50 dark:bg-gray-950 w-full z-50">
        <nav>
            <!--Above 1024px the px-5 class will be used. px-5 adds 1.25rem padding on the x axis-->
            <ul class="lg:px-5">
                <!--Dropdown menu-->
                <li class="justify-self-start">
                    <!--Flowbite dropdown menu. data-dropdown-toggle links the button with the menu to be dropped down. Offset is in pixels-->
                    <button id="dropdownDefaultButton" data-dropdown-toggle="hamburger-menu-dropdown" type="button" data-dropdown-offset-distance=10 aria-label="Main menu">
                        <i class="fa-solid fa-bars scale-150 translate-x-1"></i>
                    </button>
                    <!--the menu that will drop down when the hamburger menu is pressed-->
                    <ul id="hamburger-menu-dropdown" class="hidden bg-slate-100 dark:bg-gray-900 w-full rounded-b-lg py-2 px-4 border-b-2 border-slate-900 shadow-xl shadow-slate-200 dark:border-black dark:shadow-slate-950 z-40">
                        <!--Make these clickable later-->
                        <li class="p-2 {% if request.path == home_url %}underline{% endif %}"><a href="{% url 'home' %}" class="hover:pl-2 transition-all">Home</a></li>
                        <li class="p-2 {% if request.path == menu_url %}underline{% endif %}"><a href="{% url 'menu' %}" class="hover:pl-2 transition-all">Menu</a></li>
                        <li class="p-2 {% if request.path == reviews_url %}underline{% endif %}"><a href="{% url 'review' %}" class="hover:pl-2 transition-all">Reviews</a></li>
                        <li class="p-2"><a href="#" class="hover:pl-2 transition-all">Contact</a></li>
                        <li class="p-2"><a href="#" class="hover:pl-2 transition-all">Blog and news</a></li>
                    </ul>
                </li>
                <!--Logo. Will be added later-->
                <li class="justify-self-center">
                    logo
                </li>
                <!--Order now call to action button-->
                <li class="justify-self-end">
                    <a href="#" class="bg-cyan-400 hover:bg-cyan-300 text-black rounded-lg p-1 hover:scale-110 transition-all ">
                        Order now!
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Dynamic content that will be appended onto here depending on page -->
        {% block content %}

        {% endblock content %}

    </main>
    <!--Border. In darkmode it will be black. In light mode it will be the color #0f172a-->
    <footer class="border-t-2 border-slate-900 dark:border-black">
        <p class="text-center font-bold">Follow us!</p>
        <!--Social media links-->
        <ul class="social-media">
            <!--On a medium device or larger the padding will double-->
            <li class="justify-self-end px-2 md:px-4">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Link to our instagram page (opens in new tab)">
                    <i class="fa-brands fa-instagram text-4xl"></i>
                </a>
            </li>
            <!--On a medium device or larger the padding will double-->
            <li class="px-2 md:px-4">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Link to our facebook page (opens in new tab)">
                    <i class="fa-brands fa-facebook text-4xl"></i>
                </a>
            </li>
        </ul>
        <!--Divider line-->
        <hr class="border-b-2 border-slate-900 my-4 dark:border-slate-200 lg max-w-screen-md md:mx-auto sm:mx-4">
        <!--The width will not exceed the width of a medium device screen m-auto centers it-->
        <ul class="location-contact p-4 max-w-screen-md m-auto">
            <!--Adress section-->
            <li>
                <p class="font-bold">Find us</p>
                <p>Address</p>
                <p>city postcode</p>
                <p>country</p>
            </li>
            <!--Contact section-->
            <li class="justify-self-end sm:mt-4 md:mt-0">
                <p class="font-bold">Contact us</p>
                <p class="underline"><a href="#" aria-label="A link to our contact form">Contact form</a></p>
                <p><a href="tel:+441635286716">+441635286716</a></p>
                <p><a href="mailto:contact@theharborhearth.com">contact@theharborhearth.com</a></p>
            </li>
        </ul>
        <!--Put some space between the bottom of the screen and the footer content-->
        <br>
    </footer> 

    <!--Fontawesome import-->
    <script src="https://kit.fontawesome.com/b43359952f.js" crossorigin="anonymous"></script>
    <!--tailwindCSS import-->
    <!--Flowbite script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>