{% load static %}

{% url 'home' as home_url %}
{% url 'employee_page' as employee_page_url %}
{% url 'employee_orders' as employee_orders_url %}
{% url 'employee_contact_forms' as employee_contact_forms_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--The title will depend on what is defined on a page. Example: The Harbor Hearth - Menu-->
    <title>The Harbor Hearth - {% block title %}{% endblock title %}</title>
    <meta name="description" content="Set sail for deliciousness">
    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--Flowbite CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet">
    <!--Local Tailwind-->
    <link href="{% static 'tailwindcss/output.css' %}" rel="stylesheet">
    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!--Classes used throughout the entire document-->

<body class="text-slate-950 bg-slate-50 dark:bg-gray-950 dark:text-slate-100">
    <!--Border. In darkmode the border will be black. In light mode it will be the color #0f172a.-->
    <header
        class="border-b-2 border-solid border-slate-900 dark:border-black py-2 px-3 fixed bg-slate-50 dark:bg-gray-950 w-full z-50">
        <nav>
            <!--Above 1024px the px-5 class will be used. px-5 adds 1.25rem padding on the x axis-->
            <ul class="main-navigation px-5 md:h-12 h-20">
                <li>
                    <!--links to different pages-->
                    <ul class="flex h-full items-start flex-col md:flex-row md:items-center">
                        <li class="pr-5 {% if request.path == employee_page_url %}underline{% endif %}"><a href="{% url 'employee_page' %}">Start</a></li>
                        <li class="pr-5 {% if employee_orders_url in request.path %}underline{% endif %}"><a href="{% url 'employee_orders' %}">Orders</a></li>
                        <li class="pr-5 text-nowrap {% if employee_contact_forms_url in request.path %}underline{% endif %}" ><a href="{% url 'employee_contact_forms' %}">Contact forms</a></li>
                    </ul>
                </li>
                <!--Back to the home page-->
                <li class="justify-self-end self-center">
                    <a href="{% url 'home' %}"><img class="h-12" src="{% static 'images/harborhearthlogo.svg' %}"
                            alt="The harbour hearth logo"></a>
                </li>

            </ul>
        </nav>
    </header>
    <!--Margin on the top of the page to prevent the header from overlapping-->
    <main class="md:mt-16 mt-24">
        <!-- Dynamic content that will be appended onto here depending on page -->
        {% block content %}

        {% endblock content %}

    </main>
    <!--Empty footer on employee pages-->
    <footer>
    </footer>

    <!--Fontawesome import-->
    <script src="https://kit.fontawesome.com/b43359952f.js" crossorigin="anonymous"></script>
    <!--tailwindCSS import-->
    <!--Flowbite script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>

</html>