{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--The title will depend on what is defined on a page. Example: The Harbor Hearth - Menu-->
    <title>The Harbor Hearth - {% block title %}{% endblock title %}</title>
    <meta name="description" content="Set sail for deliciousness">
    <!--Flowbite CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!--Classes used throughout the entire document-->
<body class="text-slate-900 bg-slate-50 dark:bg-gray-950 dark:text-slate-200">
    <header class="border-b-2 border-slate-900 shadow-xl shadow-slate-200 dark:border-black dark:shadow-slate-950">
        <nav>
            <ul>
                <!--Dropdown menu on mobile-->
                <li class="nav-grid-item justify-self-start">
                    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" type="button" data-dropdown-offset-distance=0S>
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    
                    <ul id="dropdown" class="hidden bg-slate-100 dark:bg-gray-900 w-full rounded-b-lg p-2">
                        <li class="p-1">Home</li>
                        <li class="p-1">Menu</li>
                        <li class="p-1">Reviews</li>
                        <li class="p-1">Contact</li>
                        <li class="p-1">Blog and news</li>
                    </ul>
                </li>
                <!-- Logo-->
                <li class="nav-grid-item">
                    test
                </li>
                <!--Order now call to action button-->
                <li class="nav-grid-item justify-self-end">
                    <a href="#">Order now!</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer class="border-t-2 border-slate-900 dark:border-black ">
        test footer
    </footer> 

    <!--Fontawesome import-->
    <script src="https://kit.fontawesome.com/b43359952f.js" crossorigin="anonymous"></script>
    <!--tailwindCSS import-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Flowbite script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>