{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--The title will depend on what is defined on a page. Example: The Harbor Hearth - Menu-->
    <title>The Harbor Hearth - {% block title %}{% endblock title %}</title>
    <meta name="description" content="Set sail for deliciousness">
    <!--Flowbite CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <!--Personal CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!--Classes used throughout the entire document-->
<body class="text-slate-900 bg-slate-50 dark:bg-gray-950 dark:text-slate-200">
    <header class="border-b-2 border-slate-900 shadow-xl shadow-slate-200 dark:border-black dark:shadow-slate-950 py-2 px-3">
        <nav>
            <ul class="lg:px-5">
                <!--Dropdown menu on mobile-->
                <li class="nav-grid-item justify-self-start">
                    <button id="dropdownDefaultButton"  data-dropdown-toggle="hamburger-menu-dropdown" type="button" data-dropdown-offset-distance=10 aria-label="Main menu">
                        <i class="fa-solid fa-bars scale-150 translate-x-1"></i>
                    </button>
                    
                    <ul id="hamburger-menu-dropdown" class="hidden bg-slate-100 dark:bg-gray-900 w-full rounded-b-lg p-2 border-b-2 border-slate-900 shadow-xl shadow-slate-200 dark:border-black dark:shadow-slate-950">
                        <li class="p-1">Home</li>
                        <li class="p-1">Menu</li>
                        <li class="p-1">Reviews</li>
                        <li class="p-1">Contact</li>
                        <li class="p-1">Blog and news</li>
                    </ul>
                </li>
                <!-- Logo-->
                <li class="nav-grid-item">
                    logo
                </li>
                <!--Order now call to action button-->
                <li class="nav-grid-item justify-self-end">
                    <a href="#" class="bg-orange-500 rounded-lg p-1 hover:bg-orange-400 hover:scale-110 transition-all">
                        Order now!
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        {% block content %}

        {% endblock content %}

    </main>
    <footer class="border-t-2 border-slate-900 dark:border-black">
        <p class="text-center font-bold">Follow us!</p>
        <ul class="social-media">
            <li class="justify-self-end px-2 md:px-4">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener">
                    <i class="fa-brands fa-instagram text-4xl"></i>
                </a>
            </li>
            <li class="px-2 md:px-4">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener">
                    <i class="fa-brands fa-facebook text-4xl"></i>
                </a>
            </li>
        </ul>
        <hr class="border-b-2 border-slate-900 m-4 dark:border-slate-200 lg">
        <ul class="p-4 max-w-screen-md m-auto">
            <li>
                <p class="font-bold">Find us</p>
                <p>Address</p>
                <p>city postcode</p>
                <p>country</p>
            </li>
            <br>
            <li class="justify-self-end">
                <p class="font-bold">Contact us</p>
                <p><a href="#">Contact form</a></p>
                <p><a href="tel:+441635286716">+441635286716</a></p>
                <p><a href="mailto:contact@theharborhearth.com">contact@theharborhearth.com</a></p>
            </li>
        </ul>
        <!--Put some space between the bottom of the screen and the footer content-->
        <br>
    </footer> 

    <!--Fontawesome import-->
    <script src="https://kit.fontawesome.com/b43359952f.js" crossorigin="anonymous"></script>
    <!--tailwindCSS import-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!--Flowbite script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>